.choice{
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}

.aluno{
    position: absolute;
    top: 40%;
    left: 23%;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(26, 113, 226);
    color: white;
    width: 200px;
    border-radius: 10px;
}
.professor{
    position: absolute;
    top: 55%;
    left: 23%;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(26, 113, 226);
    color: white;
    width: 200px;
    border-radius: 10px;
}